<h1><%= t ".title" %></h1>

<p>Пользователь <%= @name %> добавил новое фото к событию <%= @event.title %></p>

<img src="<%= @photo_url %>" alt="photo">


<hr/>

<%= t ".event" %>
<h3><%= link_to @event.title, "#{@url}events/#{@event.id}" %></h3>

<%= t ".datetime" %>
<h4><%= l @event.datetime %></h4>

<%= t ".owner" %>
<h4><%= @event.user.name %></h4>
